.about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 40px;

  @include mq(large) {
    flex-direction: row;
    justify-content: space-between;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 550px;
    min-width: 550px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
    background-image: url('../images/letter_A.png');
    background-size: cover;
    background-position: center center;
    opacity: 0.2;

    @include mq(xlarge) {
      opacity: 0.5;
    }
  }

  &__box {
    text-align: center;
    margin-bottom: 50px;
    flex-basis: 40%;
    align-self: center;

    @include mq(xxlarge) {
      flex-basis: 30%;
      margin: 0px 5%;
    }
  }

  &__description {
    line-height: $line-height-small;
    text-align: justify;
    text-align-last: center;

    @include mq(large) {
      line-height: $line-height-normal;
    }

    @include mq(xlarge) {
      text-align: left;
      text-align-last: left;
    }
  }

  &__title {
    font-family: $font-headline;
    font-size: $font-size-XL;
    text-align: center;
    margin-bottom: 30px;

    @include mq(xlarge) {
      text-align: left;
    }

    @include mq(xxlarge) {
      font-size: $font-size-XXL;
    }
  }

  &__btn {
    margin: 20px auto;
    background-image: $bg-gradient;
    color: $color-white;

    @include mq(large) {
      &:hover {
        box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
        transform: translate(0px, -2px) scale(1.05);
      }
    }

    @include mq(xlarge) {
      margin: 30px 0;
    }
  }

  &__signature {
    margin-top: 20px;
    font-family: $font-headline;
    font-size: $font-size-large;
  }
}
