.features {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 30px;

  &__image--wrapper {
    display: none;

    @include mq(medium) {
      display: grid;
      width: 90%;
      height: 50vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;
      margin: 0 auto;
    }

    @include mq(xlarge) {
      height: 70vh;
    }

    @include mq(xxlarge) {
      width: 70%;
      height: 80vh;
    }
  }

  &__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  &__image:nth-child(1) {
    background-image: url('../images/features_1.jpg');
  }
  &__image:nth-child(2) {
    background-image: url('../images/features_2.jpg');
  }
  &__image:nth-child(3) {
    background-image: url('../images/features_3.jpg');
  }
  &__image:nth-child(4) {
    background-image: url('../images/features_4.jpg');
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    @include mq(medium) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      border-radius: 12px;
      padding: 20px;
      transform: translate(-50%, -50%);
      background-color: $color-white;
    }
    @include mq(xlarge) {
      width: 30%;
    }
  }

  &__title {
    font-family: $font-headline;
    font-size: $font-size-XL;
    margin-bottom: 30px;
  }

  &__description {
    padding: 0px 20px;
    line-height: $line-height-small;
  }

  &__btn {
    margin: 20px auto;
    background-image: $bg-gradient;
    color: $color-white;

    &:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      transform: translate(0px, -2px) scale(1.05);
    }
  }
}
