.header {
    margin-top: 20%;
    height: 100vh;
    width: 100%;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;

    &__shadow {
        width: 100vw;
        height: 100%;
        background-image: linear-gradient(to right, rgba(222,129,60, 0.6) 0%, rgba(63,81,154, 0.6) 100%);
    }

    &__title {
        padding: 0px 20px;
        margin-bottom: 1.5rem;
        padding-top: 16%;
        font-family: $font-headline;
        font-size: $font-size-XL;
        text-shadow: 1px 1px 1px #000;
        text-align: center;
        color: $color-white;
    }

    &__subtitle {
        padding: 0px 20px;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: $font-size-large;
        color: $color-white;
    }

    &__description {
        line-height: $line-height-small;
        padding: 20px;
        font-size: $font-size-normal;
        font-weight: $font-weight-light;
        text-align: center;
        color: $color-white;
        background-color: rgba(0,0,0,0.2);
    }

    &__btn {
        margin: 5% auto;
        background-color: $color-white;
    }
}