.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
  box-shadow: 0 0 5px black;
  z-index: 999999;
  transition: 0.8s;

  @include mq(xlarge) {
    position: absolute;
    top: -10%;
    flex-direction: row;
    align-items: center;
    background-image: none;
    box-shadow: none;
  }

  &--active {
    position: fixed;
    background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
    box-shadow: 0 0 5px black;
  }

  &__list {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 20px;

    @media only screen and (min-height: 320px) and (orientation: landscape) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mq(medium) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    @include mq(xlarge) {
      display: flex;
      margin-top: 0px;
    }
  }

  &__list--open {
    display: flex;
  }

  &__item {
    margin: 10px 0;
  }

  &__link {
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $color-white;
    padding: 0px 20px;
    text-transform: uppercase;
    transition: 0.3s linear;

    @include mq(xlarge) {
      position: relative;
      top: 0;
      left: 0;

      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -5px;
        left: 10%;
        background-color: $color-orange;
        transition: 0.3s linear;
      }

      &:hover::after {
        width: 80%;
      }

      &:hover {
        text-shadow: 1px 1px 1px black;
      }
    }
  }

  &__hamburger {
    position: absolute;
    font-size: 3.5rem;
    color: $color-white;
    top: 20px;
    right: 30px;
    cursor: pointer;

    @include mq(xlarge) {
      display: none;
    }
  }
}
