.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
  box-shadow: 0 0 5px black;
  z-index: 999999;

  @include mq(large) {
    flex-direction: row;
    align-items: center;
  }

  &__list {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 20px;

    @media only screen and (min-height: 320px) and (orientation: landscape) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mq(medium) {
      flex-direction: row;
      justify-content: space-around;
    }

    @include mq(large) {
      display: flex;
      margin-top: 0px;
    }
  }

  &__list--open {
    display: flex;
  }

  &__item {
    margin: 10px 0;
  }

  &__link {
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $color-white;
    padding: 0px 20px;
  }

  &__hamburger {
    position: absolute;
    font-size: 3.5rem;
    color: $color-white;
    top: 20px;
    right: 20px;
    cursor: pointer;

    @include mq(large) {
      display: none;
    }
  }
}
