@import 'utilities/variables';
@import 'utilities/mixins';

@import 'tools/reset';

@import 'layout/navigation';

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
  
body {
  font-family: $font-primary;
  font-size: $font-size-normal
}

